<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Car Finder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Sell My Car", new_listing_path, class: "nav-link active btn btn-success text-white" %>
        </li>
        <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% else %>
        <li class="nav-item">
          <%# after login redirect to root path %>
          <%= link_to 'Log In', new_user_session_path(user_type: 'returning_user'), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Register to Buy', new_user_registration_path(user_type: "buyer"), class:"nav-link"%>
        </li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%# user journey:

1. Sell My car ->  signup - > create a profile - > List the car for sale

2. if the user is already logged in and clicks sell my car

create a profile - > list the car

3. if the logged in user already has a profile, then sell my car button should take them to listing a car %>

